{% extends "template.html" %}

{% set page="home" %}

{% block meta %}
  <title>Emeka Momodu</title>
  <meta content="Personal Website of Emeka Momodu" name="description"/>
  <meta content="Emeka Momodu" name="keywords"/>
  <meta content="Chukwuemeka Momodu" name="keywords"/>
  <meta name="google-site-verification" content="RMT_d7u0ISCk6WnxbNYrqBmkgoe4TXs6DmsHDZBXM00"/>
{% endblock %}

{% block content %}

  <!-- ======= About Section ======= -->
  <section id="about" class="about">

    {% include "parts/about-me.html" %}
    
    {% include "parts/skills.html" %}

    {% include "parts/interests.html" %}

  </section><!-- End About Section -->

  {% include "parts/portfolio-section.html" %}

  {% include "parts/contact-section.html" %}

{% endblock %}
